config/database.php
vendor/
.env
storage/*.key
storage/debugbar/*
storage/logs/*
storage/framework/cache/data/*  
storage/framework/sessions/*
storage/framework/views/*
public/storage
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/    
.phpunit.result.cache
Homestead.yaml
Homestead.json
.env.testing